.bodymain{
    /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg"); */
    /* background-size: cover; */
    font-family: fantasy;
    display: flex;
    opacity:0.8 ;
    /* color: aliceblue; */
    padding: 50px;
    
}
body{
    overflow:scroll;
}

@media screen and (max-width: 440px){
    .bodymain{
        flex-direction: column;
    }
    .frame,.text{
        width: 95%;
        text-align: center;
        
        padding: 0;
    }
    
    
}

/* .para{
    color: aliceblue;
} */

.icons{
    display: flex;
    justify-content: space-around;
    


}
#imagebg{
    /* background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20221004/pngtree-background-wallpaper-abstract-neon-light-animated-image_1466855.jpg"); */
}