.aboutmain{

    background-image: url("https://images.unsplash.com/photo-1503220317375-aaad61436b1b?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHRyYXZlbGxpbmd8ZW58MHx8MHx8fDA%3D");
    
    
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* height: 140vh; */
    overflow: scroll;
    
    

}
.headingg{
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: #FFFFFF;
    margin: 200px;
}

.aboutfacilities{
    background-color: white;
    display: flex;
    justify-content: around;


    
    

}
.abouteach{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 40px;
    font-family:'Times New Roman', Times, serif;
    
   


}

.aboutmiddle{
    background-color: rgb(196, 216, 226);
    display:flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    
}
.aboutfram{
    

    
}
.midtext{
    
}



@media (max-width:500px){
    .aboutfacilities{
        flex-direction: column;
    }
    .aboutmiddle{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
    .abouteach{
        padding: 20px;
    }
    .aboutfram{

        
    }

    .headingg{
        font-size: 40px;
    }
    .aboutmiddle{
        padding: 20px;
    }
    .midtext{
        text-align: center;
    }

}