

.destiny{
    background-color: rgb(12, 12, 14);
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.right{
    /* background-color: rgb(38, 234, 31); */
    background-image: url('https://media.istockphoto.com/id/155439315/photo/passenger-airplane-flying-above-clouds-during-sunset.webp?b=1&s=170667a&w=0&k=20&c=0ptevX36IqBQM1P4PoCycpe8Vj-QAhITR7oNn9R991g=');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    
    width: 100%;
    flex: 4;

    
}

.left{
    /* background-color: rgb(212, 30, 60); */
    
    flex: 8;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    margin: 2px;
    
}

.topleft{
    background-image: url('https://media.istockphoto.com/id/516449022/photo/lady-with-kayak.webp?b=1&s=170667a&w=0&k=20&c=rFOlrbuQvYFRmZ-SVvUD1PYmic4vNzYVT1DvK332bBs=');
    /* background-color: rgb(34, 32, 169); */
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.botomleft{
    background-color: rgb(11, 10, 10);
    width: 100%;
    height: 100%;
    display: flex;
    /* padding: 1rem; */
}

.lowerleft{
    background-image: url('https://media.istockphoto.com/id/1473421123/photo/young-woman-tourist-with-backpack-walking-at-haji-lane-in-singapore.webp?b=1&s=170667a&w=0&k=20&c=5oebTybyok3OboYjTfW9fHypEAyWzsbQBVeyOdCWJdc=');
    background-size: cover;
    background-color: rgb(46, 32, 32);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}

.loweright{
    background-image: url('https://media.istockphoto.com/id/1087673356/photo/highway-at-sunrise-going-into-death-valley-national-park.webp?b=1&s=170667a&w=0&k=20&c=od3Ld7wiaJX8pKEfzVhHkb_EanKWTvtMXCt-4Y3RpD4=');
    background-size: cover;
    background-color: rgb(74, 192, 41);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 2px;
}


@media (max-width:500px){
    .destiny{
        flex-direction: column;
        height: 150vh;
    }
    .left{
        flex-direction: column;
    }
    .botomleft{
        flex-direction: column;
        padding: 0px;
    }
    .loweright{
        
    }
    .lowerleft{
       
    }
}