
*{
    box-sizing: border-box;
  }
  
  body{
    background-color: rgb(3,0,31);
    color: white;
    font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  
  }
  .App{
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar{
    flex: 3;
    border-right: 1px ;
    border-style: solid;
    border-color: rgb(100,100,100);
  
  }
  .mainbar{
    flex: 9;
  
  }
  
  .upperside{
    padding: 2.5rem;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(100,100,100);
    height: 70%;
  
  }
  
  .logo{
    padding-right: 1rem;
  
  }
  .brand{
    font-size: 2rem;
  
  }
  /* .uppersidetop{
    display: flex;
    align-items: center;
    flex-direction: column;
  } */
  
  .lowerside{
    padding: 2rem;
  
  }
  
  .listiems{
    display: flex;
    align-items: center;
    margin: 0.75rem;
    font-size: 1.3rem;
  
  }
  
  .listiemsimage{
    margin-right: 1rem;
  }
  
  
  .mainbar{
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
  }
  
  .chats{
    
    overflow: scroll;
    overflow: hidden;
    scroll-behavior: smooth;
    height: calc(100vh-35rem);
    width: 100%;
    max-width: 65rem;
  }
  
  .chat{
    margin: 1rem;
    padding: 1rem ;
    display: flex;
    align-items:flex-start;
  
  }
  
  .bot{
    background: rgba(28,30,58,1);
    width: fit-content;
    border-radius: 0.5rem;
  }
  .chatimg{
    width: 3.5rem;
    margin-right: 1rem;
    object-fit: cover;
  }
  
  .chatfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;
  
  }
  .inp{
    display: flex;
    align-items: center;
    width: 58rem;
    background: rgba(28,30,58,1);
  
  }
  
  .inp>input{
    width: calc(100%- 3rem);
    outline: none;
    color: white;
  
  }
  .inp>input,.send{
    border: none;
    
    background-color: transparent;
  
  }
  input{
    width: 97%;
  }
  .send{
    background-color: transparent;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  